<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/static/css/page2.css">

    <script src="/static/js/page2.js" defer></script>
    <title>Chico imagens</title>
</head>
<body>
    <div class="container">
        <h1>Todas as fotos do Chico</h1>
        <div class="images-area">
        </div>

        <a href="/templates/index.html">
            <i class='bx bx-arrow-back'></i>
        </a>
    </div>
</body>
</html>
